---
import ReactIcon from "../icons/ReactIcon.astro";
import StylesComponentsIcon from "../icons/StyledComponentsIcon.astro";
import Astroicon from "../icons/AstroIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import Github from "../icons/Github.astro";
import Live from "../icons/Live.astro";
import MaterialUI from "../icons/MaterialUI.astro";
import TypeScript from "../icons/TypeScript.astro";
import ReduxIcon from "../icons/ReduxIcon.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-blue-900 text-white border-2 border-blue-400",
    icon: ReactIcon,
  },
  STYLEDCOMPONENTS: {
    name: "Styled Components",
    class: "bg-red-300 text-black text border-2 border-pink-700",
    icon: StylesComponentsIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "background-black text-white border-2 border-orange-600",
    icon: Astroicon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-gray-800 text-[#73bcf6] border-2 border-blue-500 ",
    icon: TailwindIcon,
  },
  MaterialUI: {
    name: "MaterialUI",
    class: "bg-gray-800 text-[#73bcf6] border-2 border-blue-500 ",
    icon: MaterialUI,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-white text-blue-800 border-2 border-blue-500 ",
    icon: TypeScript,
  },
  Redux: {
    name: "Redux",
    class: "bg-purple-400 text-black border-2 border-purple-400 ",
    icon: ReduxIcon,
  },
  Zustand: {
    name: "Zustand",
    class: "bg-orange-300 text-black border-2 border-purple-400 ",
    icon: ReduxIcon,
  },
};

const PROJECTS = [
  {
    title: "Forgweb |",
    subtitle: " Your Gateway to Dev Web Resources",
    description:
      "User-friendly web application designed to serve as your centralized hub for accessing a curated collection of useful websites. With a sleek and intuitive interface, Forgweb empowers users to effortlessly discover and explore a diverse range of online resources across various categories. More resources and features to be added in the future",
    state: "In progress",
    link: "https://forgweb.netlify.app/",
    github: "https://github.com/BertoRamosM/Forgweb",
    image: "/projects/Forgweb.webp",
    tags: [TAGS.REACT, TAGS.Redux, TAGS.STYLEDCOMPONENTS],
  },
  {
    title: "Quizzo | ",
    subtitle: "Test Your Front-End Skills",
    description:
      "Quizzo is a quiz application focused on front-end development topics. It features a variety of questions aimed at refreshing and reinforcing knowledge in the field. The application utilizes Zustand as a global state manager, MaterialUI for creating visually appealing components.",
    state: "Finished",
    link: "https://quizzo-berto.netlify.app/",
    github: "https://github.com/BertoRamosM/Quizzo",
    image: "/projects/quizzo.webp",
    tags: [TAGS.REACT, TAGS.TypeScript, TAGS.Zustand],
  },
  {
    title: "Argent Bank | ",
    subtitle: "",
    description:
      "Argent Bank was the last project of my formation with Open Class Rooms. Was a comprehensive project to learn managing front-end development tasks, with a particular focus on React and Redux/Redux Toolkit and API calls to the backend. The project aimed to consolidate various aspects of front-end development.",
    state: "Finished",
    link: undefined,
    github:
      "https://github.com/BertoRamosM/ocr-11-Argent-Bank/tree/main/ocrP11-ArgentBank/Argent-Bank",
    image: "/projects/Argent.webp",
    tags: [TAGS.REACT, TAGS.Redux],
  },
];
---

{
  PROJECTS.map(
    ({ title, subtitle, state, description, tags, image, github, link }) => (
      <article class="pb-16 pt-14 ">
        <h3 class="text-3xl font-semibold text-yellow-100 mb-2">
          {title}
          <span class="text-purple-300 text-2xl">{subtitle}</span>
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
        <ul class="flex flex-row gap-x-4 mb-8">
          {tags.map((tag) => (
            <li>
              <span
                class={`${tag.class} flex items-center justify-center gap-x-2 rounded-full text-xs py-1 px-3`}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <div class="relative">
          <img
            loading="lazy"
            src={image}
            alt={`Screenshot from project ${title}`}
            class="rounded shadow-2xl shadow-white/20"
          />
          {state === "In progress" ? (
            <span class="absolute top-3 right-3 bg-black bg-opacity-75 text-white text-sm px-2 py-1 rounded-bl rounded-tr bg-orange-400">
              {state}
            </span>
          ) : (
            <span class="absolute top-3 right-3 bg-black bg-opacity-75 text-white text-sm px-2 py-1 rounded-bl rounded-tr bg-blue-500">
              {state}
            </span>
          )}
        </div>
        <nav class="flex gap-4 pt-2 align-center  mt-8 flex-wrap ">
          {link != undefined ? (
            <a
              href={link}
              target="_blank"
              class="rounded-full border border-white/10 gap-x-3
  py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex item-center justify-center hover:text-purple-300"
            >
              <Live class="size-6" />
              Preview
            </a>
          ) : null}

          <a
            href={github}
            target="_blank"
            class="rounded-full border border-white/10 gap-x-3 py-2 px-3 bg-white/10 hover:scale-105 hover:bg-white/10 transition flex hover:text-purple-300 item-center"
          >
            <Github class="size-5" />
            Github
          </a>
        </nav>
      </article>
    )
  )
}
