---
import { getLangFromUrl, useTranslations } from "../src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const RECOMENDATIONS = [
  {
    picture: "/images/Chevalier.jpg",
    name: "Chris Chevalier",
    punch: `“Alberto est un étudiant dont les qualités personnelles et professionnelles méritent d'être soulignées.`,
    review: `En résumé, est un candidat très intéressant qui apportera sans aucun doute une valeur ajoutée significative à votre entreprise ou à votre projet.”`,
    title: "Open Class Rooms Tutor",
    email: "chevalier@chris-freelance.com",
  },
  /*  {
    picture: "/images/Chevalier.jpg",
    name: "Chris Chevalier",
    punch: `“Alberto est un étudiant dont les qualités personnelles et professionnelles méritent d'être soulignées.`,
    review: `En résumé, est un candidat très intéressant qui apportera sans aucun doute une valeur ajoutée significative à votre entreprise ou à votre projet.”`,
    title: "Open Class Rooms Tutor",
    email: "chevalier@chris-freelance.com",
  }, 
   {
    picture: "/images/Chevalier.jpg",
    name: "Chris Chevalier",
    punch: `“Alberto est un étudiant dont les qualités personnelles et professionnelles méritent d'être soulignées.`,
    review: `En résumé, est un candidat très intéressant qui apportera sans aucun doute une valeur ajoutée significative à votre entreprise ou à votre projet.”`,
    title: "Open Class Rooms Tutor",
    email: "chevalier@chris-freelance.com",
  }, 
   {
    picture: "/images/Chevalier.jpg",
    name: "Chris Chevalier",
    punch: `“Alberto est un étudiant dont les qualités personnelles et professionnelles méritent d'être soulignées.`,
    review: `En résumé, est un candidat très intéressant qui apportera sans aucun doute une valeur ajoutée significative à votre entreprise ou à votre projet.”`,
    title: "Open Class Rooms Tutor",
    email: "chevalier@chris-freelance.com",
  }, */
];
---

<div class="py-8 lg:py-12 px-4 sm:mx-auto flex gap-8 flex-col">
  <!-- md:grid md:grid-cols-2 -->
  {
    RECOMENDATIONS.map((recomendation) => {
      return (
        <figure class="flex flex-col items-center p-8 bg-transparent border-slate-400 rounded-t-lg md:rounded-t-none  border ">
          <blockquote class="max-w-2xl mx-auto mb-4 text-gray-200 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-300 ">
              {recomendation.punch}
            </h3>
            <p class="my-4">{recomendation.review}</p>
          </blockquote>
          <figcaption class="flex items-center justify-center">
            <img
              class="rounded-full w-9 h-9"
              src={recomendation.picture}
              alt="profile picture"
            />
            <div class="space-y-0.5 font-medium text-left rtl:text-right ms-3 text-yellow-200">
              <div>{recomendation.name}</div>
              <div class="text-sm text-purple-300">{recomendation.title}</div>
              <div class="text-sm text-gray-400">{recomendation.email}</div>
            </div>
          </figcaption>
        </figure>
      );
    })
  }
</div>
